@page
@model Jurassic.Park.Pages.Exi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exibits[0].EAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exibits[0].EName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exibits) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
